body{
background:black;

  margin:0;
  padding : 0;
}

/*
background: rgb(245, 245, 245);
color:rgb(12, 142, 164);
box-shadow: 0 0 10px rgb(255, 255, 255),0 0 40px ,0 0 10px  rgb(255, 255, 255) ;
border-radius: 30px;
*/
header{

}
.lampHeader{
  margin: 5px auto;
  padding-top: 10px;
  width: 80%;
  height: 20px;
  background: rgb(245, 245, 245);
color:rgb(12, 142, 164);
box-shadow: 0 0 10px rgb(255, 255, 255),0 0 40px ,0 0 10px  rgb(255, 255, 255) ;
border-radius: 30px;
}

/*photo gw */
.gw{
  padding-top: 10px;
  width: 100px;
  height: 150px;
  background: rgb(245, 245, 245);
  color:rgb(12, 142, 164);
  box-shadow: 0 0 10px rgb(255, 255, 255),0 0 40px ,0 0 10px  rgb(255, 255, 255) ;
  border-radius: 50%;


}

.nama{
  text-align: center;
  width: 400px;
  background: rgb(245, 245, 245);
  color:rgb(12, 142, 164);
  box-shadow: 0 0 10px rgb(255, 255, 255),0 0 40px ,0 0 10px  rgb(255, 255, 255) ;
  border-radius: 30px;



}

.btn1{
  text-align: center;
  padding-top: 10px;
  width: 400px;
  height: 50px;
  background: rgb(245, 245, 245);
  color:rgb(12, 142, 164);
  box-shadow: 0 0 10px rgb(255, 255, 255),0 0 40px ,0 0 10px  rgb(255, 255, 255) ;
  border-radius: 30px;

}

.resume{
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
  width: 500px;
  height: 50px;
  background: rgb(245, 245, 245);
  color:rgb(12, 142, 164);
  box-shadow: 0 0 10px rgb(255, 255, 255),0 0 40px ,0 0 10px  rgb(255, 255, 255) ;
  border-radius: 30px;


}

.garis{
  margin: 10px auto;
  padding-top: 10px;
  width: 100%;
  height: 10px;
  background: rgb(245, 245, 245);
  color:rgb(12, 142, 164);
  box-shadow: 0 0 10px rgb(255, 255, 255),0 0 40px ,0 0 10px  rgb(255, 255, 255) ;
  border-radius: 30px;

}
.h1{




  color:rgb(245, 245, 245);
  text-shadow: 0 0 10px rgb(255, 255, 255),0 0 40px ,0 0 10px  rgb(255, 255, 255) ;

}
/*
responsive
*/
